@charset "utf-8";

// ============================================= *
//                                               *
// Import                                        *
//                                               *
// ============================================= */
@import "util/var"; //変数
@import "util/typo"; //ベンダープレフィックス等のMixinモジュール
@import "util/module"; //ベンダープレフィックス等のMixinモジュール
@import "util/bootcanceller"; //bootstrapでいつも気になるものをキャンセル
@import "util/base"; //フォント指定やIE対処など

// ============================================= *
//                                               *
// 全体                                           *
//                                               *
// ============================================= */

// ============================================= *
//                                               *
// ヘッダ                                         *
//                                               *
// ============================================= */
@import "partial/header";

// ============================================= *
//                                               *
// メインコンテンツ                                 *
//                                               *
// ============================================= */
.main {
    background-color: $bg-color;
    color: $color;
    p {
        margin: {
            top: 0.4rem;
            bottom: 0.4rem;
        }
    }
}

// ============================================= *
//                                               *
// フッタ                                         *
//                                               *
// ============================================= */
@import "partial/footer";

// ***** ページトップへ戻る ***** */
@import "partial/returnpagetop";