@charset "utf-8";

// ============================================== *
//                                                *
//  共通                                          *
//                                                *
// ============================================= */
@import "common";

// ============================================== *
//                                                *
//  メイン                                         *
//                                                *
// ============================================= */
.main {
    .border-bottom {
        border-bottom: 1px solid $main-color !important;
    }
    ul {
        padding-left: 1rem;
    }
    ol {
        padding-left: 2rem;
    }
}
// ============================================== *
//                                                *
//  管理画面                                       *
//                                                *
// ============================================= */
.dashboard {
    .form {
        &_date {
            line-height: 2.4;
            vertical-align: middle;
        }
    }
}